.responsive-image {
    width: 30vw;
    height: auto;
}

.line-height-4 {
    line-height: 6rem;
}

.nav-item {
    width: 1300px;
    height: 473px;
}

@media only screen and (max-width: 767px) {
    .responsive-image {
        width: 100%
    }  
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .nav-item {
        width: 900px;
        height: auto;
    }
}